name: Test Run

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: main  
    env:
      GOOGLE_SEARCH_API_KEY: ${{ secrets.GOOGLE_SEARCH_API_KEY }}
      SEARCH_ENGINE_ID: ${{ secrets.SEARCH_ENGINE_ID }}
      MY_CLAUDE_KEY: ${{ secrets.MY_CLAUDE_KEY }}
      NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
      
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Cache pip dependencies
      - name: Cache Python dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-cache-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-cache-

      # Set up Python
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      # Install dependencies from requirements.txt
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      # Run newsAPI.py
      - name: Run newsAPI.py
        run: python newsAPI.py

      # Run googleSearch.py
      - name: Run googleSearch.py
        run: python googleSearch.py
      # Combine JSON files
      - name: Combine JSON files
        run: python combine_json.py
      # Commit and push if there are changes
      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add combined.json
          git commit -m "Update combined.json" || exit 0
          git push
